{% extends "layout.html" %}

{% block title %}{{ data.Source}} {% endblock %}

{% block content %}

<script type=text/javascript>
        $(function() {

        $(document).keypress(function(e) {
            // H = 104, R = 114, P = 112, I = 105
            if(e.which == 104) {
                $('#HitCategory').text('Hits in off');
                $.getJSON('/{{band}}/hitsinoff/{{data.ID}}', function(data) {})
                    .always(function() { window.location.href = "/{{band}}/{{pager.next}}"; });
            }
            if(e.which == 105) {
                $('#HitCategory').text('Interesting but not ET');
                $.getJSON('/{{band}}/interestingnotet/{{data.ID}}', function(data) {})
                    .always(function() { window.location.href = "/{{band}}/{{pager.next}}"; });
            }
            if(e.which == 112) {
                $('#HitCategory').text('Plotting issue');
                $.getJSON('/{{band}}/plottingissue/{{data.ID}}', function(data) {})
                    .always(function() { window.location.href = "/{{band}}/{{pager.next}}"; });
            }
           if(e.which == 114) {
                $('#HitCategory').text('Requires follow up');
                $.getJSON('/{{band}}/followup/{{data.ID}}', function(data) {})
                    .always(function() { window.location.href = "/{{band}}/{{pager.next}}"; });
            }
            if(e.which == 122) {
                window.location.href = "/{{band}}/{{pager.prev}}"
            }
            if(e.which == 120) {
                window.location.href = "/{{band}}/{{pager.next}}"
            }
        });


          $('a#hitsinoff').bind('click', function() {
            $.getJSON('/{{band}}/hitsinoff/{{data.ID}}', function(data) {});
            $('#HitCategory').text('Hits in off');
            return false;
          });
          $('a#followup').bind('click', function() {
            $.getJSON('/{{band}}/followup/{{data.ID}}', function(data) {});
            $('#HitCategory').text('Requires follow up');
            return false;
          });
          $('a#plottingissue').bind('click', function() {
            $.getJSON('/{{band}}/plottingissue/{{data.ID}}', function(data) {});
            $('#HitCategory').text('Plotting issue');
            return false;
          });
          $('a#interestingnotet').bind('click', function() {
            $.getJSON('/{{band}}/interestingnotet/{{data.ID}}', function(data) {});
            $('#HitCategory').text('Interesting but not ET');
            return false;
          });
        });
</script>

<div class="container" style="width:100%;">

  <nav class="navbar">
    <div class="navbar-header">
      
    <span class="navbar-brand">{{ config.APPNAME }}</span>
    </div>
    <form class="navbar-form navbar-left" role="search" name="goto" action="/goto" method="POST">
      <div class="form-group">
        <input type="text" name="index" class="form-control" placeholder="Go to index">
        <input type="hidden" name="band" value={{band}}>
      </div>
      <button type="Go" class="btn btn-default">Go</button>
    </form>
    <ul class="nav navbar-nav">
      <li><a href="/{{band}}/viewall/freqs">View all</a></li>
      <li><a href="/{{band}}/{{pager.prev}}">&larr;</a> </li>
      <li><a href="/{{band}}/{{pager.next}}">&rarr;</a> </li>
      {% include 'links.html' %}
    </ul>
  </nav>

  <div class="row">
    <div class="col-md-6">
      <img src="{{ url_for('static', filename=band+'band2019/images/'+data.PngFile) }}" class="img-responsive center-block" alt="">
    </div>
    <div class="col-md-6">
      <h2><a href="/{{band}}/viewall/freqs/{{data.Source}}">{{data.Source}}</a></h2>
      {% include 'table.html' %}
        <form>
            <a href=# id=hitsinoff><button class='btn btn-default'>Hits in off</button></a>
            <a href=# id=followup><button class='btn btn-default'>Requires follow up</button></a>
            <a href=# id=plottingissue><button class='btn btn-default'>Plotting issue</button></a>
            <a href=# id=interestingnotet><button class='btn btn-default'>Interesting but not ET</button></a>
        </form>
    </div>
  </div>

</div>

{% endblock %}
