{# base template #}
<!DOCTYPE html>
<html>

<head>
    {% block head %}
    <title>{% block title %}{% endblock %} - {{ config.APPNAME }}</title>
    {% endblock %}
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href={{ url_for('static', filename='footer.css') }}

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
</head>

<body>
  <main role="main" class="container">
     <div id="content">{% block content %}{% endblock %}</div>
  </main>
  <footer class="footer">
   <div class="container text-center">
        <span class="text-muted text-center">
          <a href='/l/viewall/freqs/all'>L events</a> | <a href='/l/viewall/freqs/candidates'>L candidates</a> | 
          <a href='/s/viewall/freqs/all'>S events</a> | <a href='/s/viewall/freqs/candidates'>S candidates</a>
        </span>
    </div>
  </footer>
</body>

</html>
